@page "/Register"
<h3>Register</h3>

  <p>Welcome! If you don't have an account yet, you can register here:</p>

<div style="margin-bottom: 10px;">
    <RadzenFormField Style="width: 40%;" Text="Username" Variant="@variant">
        <ChildContent>
            <RadzenTextBox @bind-Value="@username"/>
        </ChildContent>
    </RadzenFormField>
</div>

<div style="margin-bottom: 10px;">
    <RadzenFormField Style="width: 40%;" Text="Password" Variant="@variant">
        <ChildContent>
            <RadzenTextBox @bind-Value="@password"/>
        </ChildContent>
    </RadzenFormField>
</div>

<div style="margin-bottom: 10px;">
    <RadzenFormField Style="width: 40%;" Text="First name" Variant="@variant">
        <ChildContent>
            <RadzenTextBox @bind-Value="@name"/>
        </ChildContent>
    </RadzenFormField>
</div>

<div style="margin-bottom: 10px;">
    <RadzenFormField Style="width: 40%;" Text="Last name" Variant="@variant">
        <ChildContent>
            <RadzenTextBox @bind-Value="@lastname"/>
        </ChildContent>
    </RadzenFormField>
</div>

<div style="margin-bottom: 10px;">
    <RadzenFormField Style="width: 40%;" Text="Phone number" Variant="@variant">
        <ChildContent>
            <RadzenTextBox @bind-Value="@phonenumber"/>
        </ChildContent>
    </RadzenFormField>
</div>

<div style="margin-bottom: 10px;">
    <RadzenFormField Style="width: 40%;" Text="Email" Variant="@variant">
        <ChildContent>
            <RadzenTextBox @bind-Value="@_email"/>
        </ChildContent>
    </RadzenFormField>
</div>


@code {
    private string username;
    private string password;
    private string name;
    private string lastname;
    private string phonenumber;
    private string _email;
    
    Variant variant = Variant.Outlined;
}